<div class="container">
    
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
      <img href="http://skamino.githubio/intro" src="/images/s logo.png" alt="s logo" style="float: right;">

      <h1>About...  Me!</h1>
      <br><br><hr>
      <p><table>
        <tr>
            <td id="Identification" style="background-color:whitesmoke; width: 70%; font-size: 20px; padding-left: 30px;">
            Name: Stephen Kamino<br>
            <br>
            Course: COMP229<br>
            <br>
            Subject: JavaScript - NodeJS and MongoDB<br>
            <br>
            Year: 2020<br>
            </td>
            <td>
                <img src="images/id.jpg" height="400" width="300" alt="idcard" style="float: right;">
            </td>
        </tr>
    </table>
      </p><br>
      <p>
        <a href="./resume" class="btn btn-primary btn-large">Resume &raquo;</a>
       </p>
    </div>
    <hr>
    <h3>A bit about me.</h3>
    &nbsp;&nbsp;Here at Centennial College I like to enjoy school as opposed to see it as a burden.  
    The classes and work are just another day.  In my spare time, which I have more of since the pandemic, 
    I have taken up the violin, which has become a fun hobby.  I still do a lot of coding and love it like it 
    was by brother.  Thanks for reading.
    <hr>
<br><br>
    </div>