<div class="container">
    
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <img href="" src="/images/s logo.png" alt="s logo" style="float: right;">
        <h2>Contact Us</h2>
        <hr>
        <form action="email" method="post">
            <table>
                <tr><h3>Enter your information</h3>
                    <td><label for="name">Name: </label></td>
                    <td><input type="text" id="txt1" name="name"></td>
                </tr>
                <tr>
                    <td><label for="addr">Email: </label></td>
                    <td><input type="text" id="txt3" name="addr"></td>
                </tr>                    
            </table><br>
            <label for="comment">Details of Request</label>
            <input type="text" id="txt5" name="comments">
            <br><br>
            <p>
                <input type="submit" class="btn btn-primary btn-large" value="Send it &raquo;"></a>
            </p>
        </form>
      
    </div>