<!--
File: footer.ejs
Name: Stephen Kamino
StudentID: 822600292
Date: Oct 09 2020
-->
<div class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Biocyte</a>
    </div>
  </div>
</div>