<div class="container">
    
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
      <img href="http://skamino.githubio/intro" src="/images/s logo.png" alt="s logo" style="float: right;">

      <h1>Welcome to my WebSite!</h1>
      <p>&nbsp&nbsp This is the greatest site in the world.  I have learned a bunch about javascript and creating middle ware.
          I am very happy that you have decided to visit.  You can check out the different pages by clicking the link in the nav bar.
          Take a look around.  Enjoy!
      </p>
      <p>
        <a href="https://www.google.ca" class="btn btn-primary btn-large">To Google &raquo;</a>
       </p>
    </div>

   
 
    <h3>Mission Statement</h3>
    <hr>
    &nbsp;&nbsp;Hello readers<br>
    &nbsp;&nbsp;&nbsp;&nbsp;What am I?<br>
    &nbsp;&nbsp;A student at Centennial College!<br>
    &nbsp;&nbsp;&nbsp;&nbsp;Who am I?<br>
    &nbsp;&nbsp;The future best web designer!<br>
    &nbsp;&nbsp;&nbsp;&nbsp;Why am I?<br>
    &nbsp;&nbsp;To be come the greatest web designer of all time!<br>
    <hr>
     </div>